/* Control4 Styles */

/* GLOBAL */
body {
    background:#CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	}
	
a { color:#B60000; }

a:hover{ text-decoration: none; }
a.updatelink{ display: block; float: left;line-height: 22px; padding-top: 0;}

/* GLOBAL TAGGED */

#wrapper
{

    width:1050px;
    margin:0 auto;
    padding-left:0px;
    background-color: #F0F0F0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


#logo
{
    
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    height: auto;
    width: 200px;
}

#header
{
   background-color: black; 
}

#loggedUser
{
    text-align: right;
    color: Black;
    font-size: inherit;
    vertical-align:bottom;
}

#pgTitle
{
    font-size: 25px;
    color:Black;
    font-weight: bold;
}

#deliverytablediv, #deliveryentrydiv
{
    margin:0;
    padding-top: 0px;
    padding-left: 0px;
    background-color: White;
    border-bottom: solid, 3px, black;
    
}




#deliverytitle, #deliveryentry
{   
    
    margin:0;
    background-image: url('styles/black_glass/header.png');
    background-repeat: repeat-x;
    background-color: #9497a8;
    height: 25px;
    font-family: Verdana;
	font-size: 12px;
	color: #01354d;
	text-align: left;
	vertical-align:text-bottom;
	cursor: pointer;
	padding-left: 5px;
    padding-top: 5px;
    
}

#deliverytable, #deliverytablediv, #deliveryentrydiv, #deliveryentrytable
{
    margin:0;
    width: 891px;
    text-align:left;
    /*padding: 3px 3px 3px 3px;*/
    /*background-color: black;*/
}

#DeliveryEnter
{
    font-size: 12px;
    padding-bottom: 2px;
    padding-left: 8px;

}

#deliverytitletext
{
    font-size: 14px;
    padding-bottom: 2px;
    padding-left: 7px;

}

#row1, #row3, #row5, #re1
{
    background-image: url('styles/black_glass/row1.png');
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#E5E5E5;	
	color: #2b4c61;
	text-align:left;
}
#row2, #row4, #re2
{
    background-image: url('styles/black_glass/row2.png');
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#ffffff;
	color: #2b4c61;
	text-align:left;
}

#head
{
    font-weight: bolder;
    padding-left: 5px;
    text-align:left;
}



#content
{
    padding: 20px;  
}



	Textbox
	{
		font: 9pt Verdana;
		padding-left:2px;
		padding-right:2px;
		border: 0px;
		padding-bottom: 0px;
		padding-top: 0px;	
		height: 18px;
		width: 100%;
	    text-align:left;
	}
#bottom
{
    background-color: #666666;
    font-family: Arial;
    font-size: 9px;
    color: White;
    padding: 8px;
    text-align: right;
    
    
}

.cbo1Option
{
        color: #2b4c61;
        font: 7pt Verdana;
        vertical-align: middle;
        
        padding-left:4px;
        padding-right:2px;
}  

.cbo1Textbox
{
        color: #2b4c61;
        font: 7pt Verdana;
        vertical-align: middle;
        
        padding-left:4px;
        padding-right:2px;
}  

.cbo1TopContainer
{
        border:0px;
        padding: 0px;                                   
}

#RedConfirmation
{
	    color: Red;
	    font-size: 14px;
    padding-bottom: 2px;
    padding-left: 7px;
}

#RedLogin
{
	color: Red;
    padding-bottom: 2px;
    padding-left: 7px;
}

#LogoutButton
{
	text-align:left;
	padding-left:8px;
	padding-bottom:3px;
	
}

#divMayus
{
	color: Red;
}

.ob_cbContainer {
    z-index: 16;

}