<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LDAPServer" value="LDAP://c4dc01.control4.com/cn=Users,dc=control4,dc=com"/>
    <add key="Domain" value="control4"/>
  </appSettings>
  <connectionStrings>
    <add name="InventoryConnectionString" connectionString="Data Source=c4sql01.control4.com;Initial Catalog=Inventory_c4erp02_20110218;User ID=salesforce;Password=4control4salesforce" providerName="System.Data.SqlClient"/>
    <add name="InventoryConnectionString1" connectionString="Data Source=c4sql01.control4.com;Initial Catalog=Inventory_c4erp02_20110218;Persist Security Info=True;User ID=salesforce;Password=4control4salesforce" providerName="System.Data.SqlClient"/>
    <add name="InventoryConnectionString2" connectionString="Data Source=c4sql01.control4.com;Initial Catalog=Inventory_c4erp02_20110218;Persist Security Info=True;User ID=salesforce;Password=4control4salesforce" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- USERS NEED TO HAVE ACCESS TO ONE OF THE FOLLOWING SECURITY GROUPS IN ACTIVE DIRECTORY.
        -C4SHIPPING-USERS
        -C4SHIPPING-MANAGERS
        -C4SHIPPING-ADMINS
       
       THEIR ACCESS TO THE PAGES IS IN THE FOLLOWING CONFIGS.
  -->
  <!-- USERS HAVE ACCESS TO THE SCAN PAGES  -->
  <location path="Content">
    <system.web>
      <authorization>
        <allow roles="Admin,Manager,User"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--  ADMIN PAGES. ONLY ADMINS AND MANAGERS-->
  <location path="Admin">
    <system.web>
      <authorization>
        <!--        <allow users="Admin,jcargile,nromney,kcolburn,dderry,dfreston,bfreston,josborn,cgallegos"/>-->
        <allow roles="Admin,Manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--  HISTORY PAGES. NO LOGIN REQUIRED-->
  <location path="History">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--  PAGE SPECIFIC. ADMINS ONLY  -->
  <location path="MaintainKits.aspx">
    <system.web>
      <authorization>
        <!--        <allow users="Admin,jcargile,nromney,kcolburn,dderry,dfreston,bfreston,josborn"/>-->
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--  PAGE SPECIFIC. ADMINS ONLY  -->
  <location path="MaintainProductID.aspx">
    <system.web>
      <authorization>
        <!--        <allow users="Admin,jcargile,nromney,kcolburn,dderry,dfreston,bfreston,josborn"/>-->
        <allow/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <!--        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <!--      <buildProviders>-->
      <!--        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <!--      </buildProviders>-->
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Content/Login.aspx" name="adAuthCookie" timeout="10" path="/"/>
    </authentication>
    <identity impersonate="true"/>
    <!--    <authentication mode="Forms">-->
    <!--      <forms loginUrl="Content/Login.aspx">-->
    <!--        <credentials passwordFormat="Clear">-->
    <!--          <user name="Admin" password="becareful"/>-->
    <!--          <user name="nromney" password="shiptool"/>-->
    <!--          <user name="jcargile" password="shiptool"/>-->
    <!--          <user name="kcolburn" password="sc0tch"/>-->
    <!--          <user name="dderry" password="cr@zyman" />-->
    <!--          <user name="dfreston" password="p0kerman"/>-->
    <!--          <user name="bfreston" password="wh!stle"/>-->
    <!--          <user name="josborn" password="w@terw0rks"/>-->
    <!--          <user name="cgallegos" password="dr0wning"/>-->
    <!--          <user name="bconnelley" password="sunny"/>-->
    <!--          <user name="mlarsen" password="green"/>-->
    <!--          <user name="dpendleton" password="frosty"/>-->
    <!--          <user name="rwolf" password="snowday"/>-->
    <!--          <user name="srodriquez" password="loops"/>-->
    <!--          <user name="rsanchez" password="ropes"/>-->
    <!--          <user name="mtyson" password="today"/>-->
    <!--          <user name="jhugill" password="restful"/>-->
    <!--          <user name="mstahl" password="sauce"/>-->
    <!--          <user name="ctuke" password="books"/>-->
    <!--          <user name="rmackay" password="forest"/>-->
    <!--          <user name="shechtle" password="lucky"/>-->
    <!--          <user name="jdumsa" password="remote"/>-->
    <!--          <user name="mkanrow" password="boats"/>-->
    <!--          <user name="shipping1" password="momoney1"/>-->
    <!--          <user name="shipping2" password="momoney2"/>-->
    <!--        </credentials>-->
    <!--      </forms>-->
    <!---->
    <!--    </authentication>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>