<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="C4InventorySerialization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
	</configSections>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\\CurrentLog.log" />
			<appendToFile value="true" />
			<datePattern value="yyyyMMdd" />
			<rollingStyle value="Date" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<acceptOnMatch value="true" />
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%m%n" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<appSettings>
		<add key="LDAPServer" value="LDAP://c4dc01.control4.com/cn=Users,dc=control4,dc=com" />
		<add key="Domain" value="control4" />
		<add key="ServerLocation" value="Control4.dbo" />
		<!--<add key="ServerLocation" value="livesap.control4.dbo" />-->
	</appSettings>
	<connectionStrings>
		<!--<add name="InventoryConnectionString" connectionString="Data Source=c4sql01.control4.com;Initial Catalog=Inventory_c4erp02_20110218;User ID=salesforce;Password=4control4salesforce" providerName="System.Data.SqlClient"/>-->
		<!--Live Connection string 2-->
		<!--<add name="InventoryConnectionString1" connectionString="Data Source=c4sql01.control4.com;Initial Catalog=Inventory_c4erp02_20110218;Persist Security Info=True;User ID=salesforce;Password=4control4salesforce" providerName="System.Data.SqlClient"/>-->
		<!--Live Connection string 3-->
		<!--<add name="InventoryConnectionString2" connectionString="Data Source=c4sql01.control4.com;Initial Catalog=Inventory_c4erp02_20110218;Persist Security Info=True;User ID=salesforce;Password=4control4salesforce" providerName="System.Data.SqlClient"/>-->
		<!--Staging Connection string-->
		<add name="InventoryConnectionString" connectionString="Data Source=ship-dev;Initial Catalog=Inventory;Persist Security Info=True;User ID=inventory;Password=Inv3ntory!" providerName="System.Data.SqlClient" />
		<!--Live Connection string 1-->
	</connectionStrings>
	<!-- USERS NEED TO HAVE ACCESS TO ONE OF THE FOLLOWING SECURITY GROUPS IN ACTIVE DIRECTORY.
        -C4SHIPPING-USERS
        -C4SHIPPING-MANAGERS
        -C4SHIPPING-ADMINS
       
       THEIR ACCESS TO THE PAGES IS IN THE FOLLOWING CONFIGS.
  -->
	<!-- USERS HAVE ACCESS TO THE SCAN PAGES  -->
	<location path="Content">
		<system.web>
			<authorization>
				<allow roles="Admin,Manager,User" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!--  ADMIN PAGES. ONLY ADMINS AND MANAGERS-->
	<location path="Admin">
	</location>
	<!--  HISTORY PAGES. NO LOGIN REQUIRED-->
	<location path="History">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<compilation debug="true" targetFramework="4.6" />
		<authentication mode="Forms">
			<forms loginUrl="Content/Login.aspx" slidingExpiration="true" timeout="1" name="adAuthCookie" />
		</authentication>
		<identity impersonate="true" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<sessionState mode="InProc" timeout="1" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
			<serviceActivations>
				<add relativeAddress="services/PartReturnService.svc" service="ApplicationSource.Services.PartReturnService" factory="System.ServiceModel.Activation.WebServiceHostFactory" />
				<add relativeAddress="services/MacIdSearchService.svc" service="ApplicationSource.Services.MacIdSearchService" factory="System.ServiceModel.Activation.WebServiceHostFactory" />
				<add relativeAddress="services/VerifyUniqueMacService.svc" service="ApplicationSource.Services.VerifyUniqueMacService" factory="System.ServiceModel.Activation.WebServiceHostFactory" />
				<add relativeAddress="services/OrderDeliveryService.svc" service="ApplicationSource.Services.OrderDeliveryService" factory="System.ServiceModel.Activation.WebServiceHostFactory" />
				<add relativeAddress="services/UserAuthenticationService.svc" service="ApplicationSource.Services.UserAuthenticationService" factory="System.ServiceModel.Activation.WebServiceHostFactory" />
			</serviceActivations>
		</serviceHostingEnvironment>
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" helpEnabled="true" faultExceptionEnabled="true" />
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>
	<applicationSettings>
		<C4InventorySerialization.Properties.Settings>
			<setting name="ServerLocation" serializeAs="String">
				<value>Control4.dbo</value>
			</setting>
		</C4InventorySerialization.Properties.Settings>
	</applicationSettings>
</configuration>