@{
    ViewBag.Title = "LoginIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/scripts/LogIn.js" type="text/javascript"></script>

<div ng-controller="LoginController as login">
    <h3 class="label-info"></h3>
    <h1>Please Log In</h1>
    <hr />
    <table cellpadding="8">
        <tr>
            <td>User Name:</td>
            <td>
                <input type="text" ng-model="login.Username"/>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="password" ng-keypress="login.CapLock($event)" ng-model="login.Password" />
                <div id="divMayus" class="label-info" ng-show="login.ShowMayus">Caps Lock is on.</div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="LoginBtn" value="Log In" ng-click="login.UserNameCheck()" />
            </td>
            <td></td>
        </tr>
    </table>

    <!-- /.modal -->
    <hr />
    <h4>
        <label id="errorMessage" />
    </h4>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Contrator Details</h4>
                </div>
                <div class="modal-body">
                    <p>Please enter your first and last name:</p>
                    First Name:
                    <input type="text" id="modalFirstName" ng-mode="login.ContractorFirstName"/>
                    Last Name:
                    <input type="text" id="modalLastName" ng-model="login.ContractorLastName" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="login.SubmitContractorDetails()">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
