<div class="modal-header">
    <h3 class="modal-title">Return Delivery: {{DocNum}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-warning"><i class="fa fa-warning" style="margin-right:10px; font-size:20px;"></i>Are you sure you want to return all the items in this delivery? </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">Return <i class="fa fa-reply-all"></i></button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>